html {
  overflow: hidden;
  height:100%;
  body{
    padding:0;
    margin:0;
    height:100%;
    font-family: Roboto, PingFangSC, 'helvetica neue', 'hiragino sans gb', arial, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif !important;
    font-size: 14px;
    text-rendering: auto;
    background-color: #f1f2f3;
    color: #333;
    min-width: 1280px;
    overflow: auto;
    position: relative;
    box-sizing: border-box;
    #app{
      height:100%;
    }
    a{
      text-decoration: none;
    }
  }
}
.el-table td, .el-table th{
  padding: 6px 0;
}
.el-table th{
  background-color: #e0e2e5;
  color: #777;
}
.el-button{
  padding: 10px 20px;
}
.el-input__inner{
  height:36px;
  line-height:36px;
}
.el-table__column-filter-trigger{
  line-height: 23px;
}
//.el-table td{
//  padding: 0px;
//}
.el-dialog__header{
  border-bottom: 1px solid #ddd;
}
.el-dialog__title{
  font-size: 16px;
}
