#Login{
  /*页头*/
  #header{
    background-color: #282828;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    .inner{
      width: 960px;
      height: 100%;
      display: flex;
      align-items: center;
      .web-logo{
        z-index: 10;
        width: 240px;
        height: 50px !important;
        a{
          display: block;
          height: 50px;
          line-height: 50px;
          padding-left: 80px;
          color: #fff;
          font-size: 18px;
          font-weight: 700;
          background-image: url(../../../assets/img/logo.png);
          background-repeat: no-repeat;
          background-position-y: -5px;
        }
      }
    }
  }
  /*登录表单*/
  #loginBody{
    display: flex;
    justify-content: center;
    margin: 25px 0px;
    .inner {
      width: 960px;
      background: #fff;
      padding: 0px 30px;
      padding-bottom: 60px;
      .title {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #333;
        font-size: 24px;
        font-weight: 600;
        border-bottom: 1px solid #ddd;
        width: 100%;
      }
      .body {
        width: 400px;
        margin: 0px auto;
        /*Form表单*/
        #loginForm{
          margin-top:30px;
          width: 400px;
          .condition{
            font-size: 16px;
            color: #333;
            margin-top: 10px;
            padding: 8px 0;
          }
          .forByPhoneDes{
            font-size: 14px;
            color: #999;
            line-height: 14px;
          }
          .forget{
            height:40px;
            line-height: 40px;
            font-size: 14px;
            span{
              cursor: pointer;
              color: #007dff;
            }
          }
          .form{
            .remember{
              padding-left:5px;
            }
          }
          #inputArea{
            position: relative;
            border-radius: 22px;
            margin-top: 60px;
            .submit{
              text-align: center;
              .el-button{
                border-radius: 22px;
                width: 200px;
              }
            }
          }
        }
      }
    }
  }
  /*页脚*/
  #customerFooter{
    display: flex;
    justify-content: center;
    .inner{
      width: 960px;
      text-align: center;
      font-size: 12px;
      color: #999;
      .warrant-area{
        padding-top: 2px;
        line-height: 56px;
        a.rule{
          padding: 0 10px;
        }
        .foot_em{
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
        }
        .lItem{
          margin:0px;
          text-align: center;
          line-height:20px;
          height:20px;
        }
      }
    }
  }
}
