#OrderDetail{
  background: #fff;
  height: 100%;
  padding: 0px 20px;
  .oTitle{
    font-size: 18px;
    line-height: 50px;
    color: #333;
    height: 50px;
    span{
      border-left: 2px solid #e41f2b;
      padding: 0px 5px;
    }
  }
  .form{
    width:450px;
    padding:20px 0px;
  }
  .tips{
    margin: 30px 0px;
    max-width: 600px;
    .item{
      line-height: 24px;
      color:#666;
    }
    .item.fir{
      margin-bottom: 15px;
    }
  }
}
