#MallBasic{
  background: #fff;
  height: 100%;
  padding: 0px 20px;
  .mtitle{
    font-size: 18px;
    line-height: 50px;
    color: #333;
    height: 50px;
    span{
      border-left: 2px solid #e41f2b;
      padding: 0px 5px;
    }
  }
  .form{
    width:450px;
    padding:20px 0px;
  }
  .picWarp{
    display: flex;
    justify-content: flex-start;
    .el_upload{
      border: 1px dashed #d9d9d9;
      border-radius: 3px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      width: 75px;
      height: 75px;
      i.plus-icon{
        font-size: 28px;
        color: #8c939d;
        width: 75px;
        height: 75px;
        line-height: 75px;
        text-align: center;
      }
      input.el-upload__input{
        display: none;
      }
    }
    .el_upload:hover{
      border-color: #409EFF;
    }
  }
}
